<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite" parallel="false">
    <test name="AutomationTests">
        <classes>
            <class name="Pages.Registeration.RegisterationTest"/>
            <class name="Pages.Login.LoginTest"/>
            <class name="Pages.SelectProduct.SelectProductTest"/>
            <class name="Pages.checkoutPage.checkoutPageTest"/>
        </classes>
    </test>
</suite>
